.introContainer {
    background-size: cover;
    background-position: center;
    color: black;
    padding: 50px;
    height: 100vh;
}

.introContent {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; /* Aligner les éléments en haut */
}

.leftContent {
    max-width: 500px;
    flex: 1;
    padding-right: 20px;
    margin: 10px 25px 25px 25px; /* Marge haut, droite, bas, gauche */
}

.leftContent h3 {
    font-size: 19px;
    font-style: italic;
    margin-bottom: 0px;
}

.leftContent h2 {
    font-size: 60px;
    font-weight: bold;
    margin-top: 0px;
}

.leftContent p {
    font-size: 18px;
}

.leftContent li {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: bold;
}

.rightContent {
    flex: 1;
    max-width: 500px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 80px;
    color: black;
}

form {
    display: flex;
    flex-direction: column;
}

input,
textarea {
    margin-bottom: 10px;
    padding: 8px;
}

.btn-primary {
    padding: 10px 20px;
    background-color: #C29500;
    color: #fff;
    border: none;
    cursor: pointer;
}
.btn:hover {
    color: inherit;
    background-color: inherit; 
    border-color: transparent;
}

/* Media query pour les écrans de taille téléphone (moins de 576px) */
@media (max-width: 575.98px) {
    .introContainer {
        padding: 20px; 
        height: 170vh;
    }

    .introContent {
        flex-direction: column; 
        text-align: center; 
    }

    .rightContent {
        margin-top: 20px;
    }
}

@media (max-width: 280px) {
    .introContainer {
        padding: 20px; 
        height: 250vh;
    }
}